{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Додавання статті
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'articles' %}"
                                   class="text-decoration-none text-reset">Статті</a></li>
    <li class="breadcrumb-item" aria-current="page">Додавання статті</li>
{% endblock %}

{% block content %}

<br>

<div class="container-fluid">
    <h2>Додавання статті</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="hidden" id="user_pk" value={{request.user.pk}}>

        <button type="submit">Додати</button>
    </form>
</div>

{% endblock %}