{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Додавання руху коштів
{% endblock %}

{% block content %}

<div class="container-fluid pl-1 bg-secondary text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'cash_flows' %}" class="text-decoration-none text-reset">Рух
                коштів</a></li>
            <li class="breadcrumb-item" aria-current="page">Додавання руху коштів</li>
        </ol>
    </nav>
</div>

<br>

<div class="container-fluid">
    <h2>Додавання руху коштів</h2>

    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Додати</button>
    </form>
</div>

{% endblock %}