{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Додавання руху коштів
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cash_flows' %}" class="text-decoration-none text-reset">Рух коштів</a></li>
        <li class="breadcrumb-item" aria-current="page">Додавання руху коштів</li>
    </ol>
</nav>

<h2>Додавання руху коштів</h2>

<form action="{% url 'add_cash_flow' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Додати</button>
</form>

{% endblock %}