{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Додавання руху коштів
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a>
</li>
<li class="breadcrumb-item"><a href="{% url 'cash_flows' %}" class="text-decoration-none text-reset">Рух
    коштів</a></li>
<li class="breadcrumb-item" aria-current="page">Додавання руху коштів</li>
{% endblock %}

{% block content %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h2>Додавання руху коштів</h2>

            <form action="" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-outline-secondary btn-md" type="submit">Додати</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}