{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Статті
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">Статті</li>
{% endblock %}

{% block content %}

<br>

<div class="container-fluid">
    <h2>Статті</h2>

    <a href="{% url 'add_article' %}" class="btn btn-outline-secondary btn-md">Додати статтю</a>

    <br>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Заголовок</th>
            <th>Мініатюра</th>
        </tr>
        </thead>
        {% for art in articles %}
        <tr>
            <th>
                <a href="{% url 'remove_article' art.pk %}"><img src="{% static 'finance/images/delete.png' %}"
                                                                 width="20"
                                                                 title="Видалити"></a>
            </th>
            <th>
                <a href="{% url 'edit_article' art.pk  %}"><img src="{% static 'finance/images/edit.png' %}"
                                                                 width="25"
                                                                 title="Змінити"></a>
            </th>
            <th>
                {{ art.title }}
            </th>
            <th>
                {% if art.photo %}
                <img src="{{ art.photo.url }}" width="75">
                {% else %}
                <img src="{% static 'finance/images/article.png' %}" width="75">
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
