{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Видалення руху коштів
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none text-reset">Головна</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'cash_flows' %}" class="text-decoration-none text-reset">Рух
        коштів</a></li>
    <li class="breadcrumb-item" aria-current="page">Додавання руху коштів</li>
{% endblock %}

{% block content %}

<br>

<div class="container-fluid">
    <h2>Видалення руху коштів</h2>

    <form method="post">
        {% csrf_token %}
        <p>Ви впевнені, що хочете видалити рух коштів "{{ object }}"?</p>
        {{ form }}
        <input class="btn btn-outline-secondary btn-md" type="submit" value="Підтвердити">
    </form>
</div>

{% endblock %}