{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}}
{% endblock %}

{% include 'inc/_nav.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container-fluid bg-secondary text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">&nbsp;</li>
        </ol>
    </nav>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Статті</h2>
                </div>

                <ul class="list-group list-group-flush">
                    {% for art in articles %}
                        <li class="list-group-item">
                        {% if art.photo %}
                            <img src="{{ art.photo.url }}" width="50">
                        {% else %}
                            <img src="{% static 'finance/images/photo.png' %}" width="50">
                        {% endif %}
                        {{ art.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Рух коштів
                        {% if current_year %}
                        за {{ str_month }}-{{ current_year }}
                        {% endif %}
                    </h2>
                </div>

                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-success">
                            <span class="fs-5">Прибутки</span>
                        </div>
                        <div class="card-body">
                            {% for cf in cash_flows %}

                            {% if current_month == cf.fin_month.month and current_year == cf.fin_month.year and cf.is_profit %}
                            <p>{{ cf.fin_month|date:"d-m-Y" }} {{ cf.article }} {{ cf.sum }}</p>
                            {% endif %}

                            {% endfor %}
                        </div>


                        <div class="card-header bg-warning">
                            <span class="fs-5">Видатки</span>
                        </div>
                        <div class="card-body">
                            {% for cf in cash_flows %}

                            {% if current_month == cf.fin_month.month and current_year == cf.fin_month.year and not cf.is_profit %}
                            <p>{{ cf.fin_month|date:"d-m-Y" }} {{ cf.article }} {{ cf.sum }}</p>
                            {% endif %}

                            {% endfor %}
                        </div>

                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Фінансові місяці</h2>
                </div>
                <ul class="list-group list-group-flush">
                    {% for month in months %}
                    <li class="list-group-item">
                        <a href="{% url 'home' month.year month.month %}">{{ month |date:"m-Y" }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% else %}
    <br>

    <div class="container-fluid">
        <h1>Вітаємо в Simple Finance!</h1>
        <h3>Увійдіть або зареєструйтесь для ведення своїх фінансів</h3>
    </div>
    {% endif %}

</div>

{% endblock %}
