{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}}
{% endblock %}

{% include 'inc/_nav.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container-fluid bg-secondary text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">&nbsp;</li>
        </ol>
    </nav>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Статті</h2>
                </div>

                <ul class="list-group list-group-flush">
                    {% for art in articles %}
                        <li class="list-group-item">
                        {% if art.photo %}
                            <a class="text-decoration-none" href="{% url 'article_graph' art.pk %}">
                                <img src="{{ art.photo.url }}" width="50">
                            </a>
                        {% else %}
                            <a class="text-decoration-none" href="{% url 'article_graph' art.pk %}">
                                <img src="{% static 'finance/images/article.png' %}" width="50">
                            </a>
                        {% endif %}
                            <a class="text-decoration-none" href="{% url 'article_graph' art.pk %}">{{ art.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Рух коштів
                        {% if current_year %}
                        за {{ str_month }}-{{ current_year }}
                        {% endif %}
                    </h2>
                </div>

                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-success" data-bs-toggle="collapse" data-bs-target="#collapsePlus">
                            <span class="fs-5">Прибутки</span>
                        </div>
                        <div class="collapse show" id="collapsePlus">
                            <div class="card-body">
                                {% for cf in cash_flows %}
                                <div class="container-fluid">
                                    <div class="row">
                                        {% if cf.is_profit %}
                                        <div class="col-md-2">
                                            {% if cf.article.photo %}
                                            <img src="{{ cf.article.photo.url }}" width="50">
                                            {% else %}
                                            <img src="{% static 'finance/images/article.png' %}" width="50">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ cf.article }}
                                        </div>
                                        <div class="col-md-2 fw-bold">
                                            {{ cf.sum }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ cf.fin_month|date:"d-m-Y" }}
                                        </div>
                                        <hr>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header bg-warning" data-bs-toggle="collapse" data-bs-target="#collapseMinus">
                            <span class="fs-5">Видатки</span>
                        </div>
                        <div class="collapse show" id="collapseMinus">
                            <div class="card-body">
                                {% for cf in cash_flows %}
                                <div class="container-fluid">
                                    <div class="row">
                                        {% if not cf.is_profit %}
                                        <div class="col-md-2">
                                            {% if cf.article.photo %}
                                            <img src="{{ cf.article.photo.url }}" width="50">
                                            {% else %}
                                            <img src="{% static 'finance/images/article.png' %}" width="50">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ cf.article }}
                                        </div>
                                        <div class="col-md-2 fw-bold">
                                            {{ cf.sum }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ cf.fin_month|date:"d-m-Y" }}
                                        </div>
                                        <hr>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Фінансові місяці</h2>
                </div>

                <div class="card-body">
                    {% for year in years %}
                    <div class="card">
                        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse{{ year }}">
                            {{ year }}
                        </div>

                        <div class="collapse {% if current_year == year %} show {% endif %}" id="collapse{{ year }}">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for month in months %}
                                    {% if month.year == year %}
                                    <li class="list-group-item">
                                        {% if current_year == month.year and current_month == month.month %}
                                            <strong class="text-secondary">{{ month |date:"M" }}</strong>
                                        {% else %}
                                            <a href="{% url 'home' month.year month.month %}" class="text-decoration-none">
                                                {{ month |date:"M" }}
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <br>

    <div class="container-fluid">
        <h1>Вітаємо в Simple Finance!</h1>
        <h3>Увійдіть або зареєструйтесь для ведення своїх фінансів</h3>
    </div>
    {% endif %}

</div>

{% endblock %}
