<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Simple Finance{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.js' %}"></script>
    {% block imports %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

{% include 'inc/_nav.html' %}

<div class="container-fluid bg-secondary text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumb %}<li class="breadcrumb-item" aria-current="page">&nbsp;</li>{% endblock %}
        </ol>
    </nav>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

{% include 'inc/_footer.html' %}

</body>
</html>